@import "tailwindcss";
@plugin "daisyui";


body {
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden; /* عشان مفيش حاجة تطلع بره الشاشة */
}

/* ستايل للماوس المخصص لو حبيت */
.cursor-dot {
  pointer-events: none;
  z-index: 9999;
}

h1 {
  font-variant-numeric: tabular-nums; 
}

/* Custom Scrollbar for Terminal */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0c0c0c; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00f3ff; 
}